.group:before,.group:after {
   content:"";
   display:table;
}
.group:after {
   clear:both;
}
.group {
   zoom:1; /* For IE 6/7 (trigger hasLayout) */
}



/*-------   2e394b  -----#394A75-----*/

header {
  border-bottom: 1px solid rgba(235,235,235,.5);
  text-align: center;
  /*background-color: #ebebeb;*/
  /*padding: 1em;*/
  padding-top: 50px;
}

body {
  background-color: #1F2733;
  /*background-image: url('../img/dark_flower3.jpg');*/
  background-size: cover;
  font-size: 100%;
  /*line-height: 1.5;*/
  color: rgba(235,235,235,.8);
  font-family: "lato",sans-serif;
  /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.25em solid transparent;
  border-right: 1.25em solid transparent;
  border-top: 1.25em solid #2e394b;
  position: relative;
  bottom: -3.25em;
  left: 10%;
}

h2, h3, h4, h5, h6 {
  border-bottom: 1px solid rgba(235,235,235,.5);
}

h1 {
  font-size: 2.75em;
  line-height: 0.9;
  text-transform: uppercase;
  color: rgba(235,235,235,.8);
  font-family: "futura-pt", sans-serif;
  display: inline;
}

h5 {
  font-family: "futura-pt", sans-serif;
  color: white;
}

header p {
  color: rgba(228,52,40,1);
}

.statement p {
  font-size: 1.5em;
  font-style: italic;
  opacity: 0.5;
}

.statement {
  border-bottom: 1px solid rgba(235,235,235,.5);
}

.project-wrapper {
  background-image: url('../img/wdi-hub.png');
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.description {
  padding-top: 10%;
  opacity: 0;
  color: white;
  height: inherit;
  background: rgba(0,0,0,.7);
}

.row:not(:first-child) {
  margin-top: 20px;
}

.attn {
  background-color: rgba(235,235,235,.2);
  min-height: 200px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
}

.currently img {
  margin: 10px auto;
  width: 100px;
}

.logos > li {
  display: inline;
}

img.icon {
  width: 35px;
  margin: 0 5px;
  position: relative;
  top: 2px;
  opacity: .75;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
}

img.icon:hover {
  opacity: 1;
}

.profile-photo {
  width: 200px;
}

a, a:hover {
  color:inherit;
  text-decoration: none;
}

.description:hover,
a.mobile:hover {
  opacity: 1;
  -webkit-transition: opacity 0.6s;
     -moz-transition: opacity 0.6s;
      -ms-transition: opacity 0.6s;
       -o-transition: opacity 0.6s;
          transition: opacity 0.6s;
}



@media only screen and (max-width: 767px) {
  body {
    /*padding: 0 10px;*/
    padding-left: 10px;
    padding-right: 55px;
  }
  .attn {
    margin-bottom: 10px;
  }
  h1 {
    font-size: 2em;
  }
  .logos {
    max-width: 50px;
    position: fixed;
    top: 15px;
    right: 5px;
    z-index: 10;
  }
  .icon {
    margin-bottom: 8px !important;
  }
  .statement p {
    font-size: 1.25em;
    padding-right: 50px;
  }
  .profile-photo {
    /*width: 150px;*/
    /*display: none;*/
  }
  header {
    padding: 20px 0;
  }
}





